.uav-scan-lines {
  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background-image: -webkit-repeating-linear-gradient(top, transparent 0px, transparent 1px, rgba(0, 0, 0, 0.1) 1px, rgba(0, 0, 0, 0.1) 3px);
    background-image: repeating-linear-gradient(top, transparent 0px, transparent 1px, rgba(0, 0, 0, 0.1) 1px, rgba(0, 0, 0, 0.1) 3px);
    background-image: -ms-repeating-linear-gradient(top, transparent 0px, transparent 1px, rgba(0, 0, 0, 0.1) 1px, rgba(0, 0, 0, 0.1) 3px);
    background-size: 100% 4px;
  }
}

.uav-border {
  border-bottom: solid 1px $uav-line;
}

.drone {
  width: 44px;
  height: 25px;
  display: block;
  margin: 0 auto;
  .dronePath {
    fill: $white;
  }
}

.cta {
  color: $white;
  border-bottom: 1px solid $red;
  @include transition(all 300ms ease-in-out);
  &:hover {
    color: $border;
    border-bottom: 1px solid $border;
  }
}
