.uav-scan-lines {
  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background: -webkit-repeating-linear-gradient(top, transparent 0px, transparent 1px, rgba(0, 0, 0, 0.2) 1px, rgba(0, 0, 0, 0.2) 3px);
    background: repeating-linear-gradient(top, transparent 0px, transparent 1px, rgba(0, 0, 0, 0.2) 1px, rgba(0, 0, 0, 0.2) 3px);
    background-size: 100% 4px;
  }
}

.uav-border {
  border-bottom: solid 1px rgba(150,150,150,0.5);
}
