*,
*:after,
*:before {
  @include box-sizing(border-box);
  outline: none;
}

::-moz-selection { color: rgba($black, 1.25); background: rgba($black, 1.25); }
::selection { color: rgba($black, 1.25); background: rgba($black, 1.25); }

img {
	max-width: 100%;
}

body {
  font-family: 'Overpass Mono', monospace;
  color: white;
  background: lighten($black, 1.5);
}

a {
  color: $white;
  text-decoration: none;
  @include transition(color 300ms ease-in-out);
  &:hover {
    color: $uav-line;
  }
}
