*,
*:after,
*:before {
  @include box-sizing(border-box);
  outline: none;
}

::-moz-selection { background: rgba($black, 0.2); }
::selection { background: rgba($black, 0.2); }

img {
	max-width: 100%;
}

body {
  font-family: 'Overpass Mono', monospace;
  color: white;
  background: $black;
}
