// Maps

$h1-font-sizes: (
  null  : 28px,
  480px : 2rem,
  640px : 2.5rem,
  800px : 3rem,
  1024px: 4rem
);

$h2-font-sizes: (
  null  : 24px,
  480px : 1.5rem,
  640px : 2rem,
  800px : 2.25rem
);

$h3-font-sizes: (
  null  : 22px,
  480px : 1.375rem,
  640px : 1.5rem,
  800px : 1.75rem
);

$h4-font-sizes: (
  null  : 18px,
  480px : 1.125rem
);

$h5-font-sizes: (
  null  : 16px,
  480px : 1rem
);

$p-font-sizes: (
  null  : 15px,
  480px : 1rem
);
