.footer {
  background: $black;
  padding: 40px 0;
  text-align: center;
  a {
    display: inline-block;
  }
}

.drone {
  width: 44px;
  height: 25px;
  display: block;
  margin: 0 auto;
  .dronePath {
    fill: $white;
  }
}
