.hero {
  position: relative;
  text-align: left;
  overflow: hidden;
  outline: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  &:before {
    content: '';
    z-index: 3;
    @include absolute(0, 0, 0, 0);
    @include size(100%);
    @include gradient-vertical($black, transparent);
    @supports (mix-blend-mode: lighten) {
      background-color: rgba(218, 54, 16, .95);
      mix-blend-mode: multiply;
    }
  }
  .container {
    margin: 0;
  }
  h1 {
    color: white;
    opacity: 1;
    position: relative;
    z-index: 8;
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 0;
    letter-spacing: 0.15em;
    margin: 0em -0.15em 0em 0;
    border-bottom: 1px solid $border;
  }
  p {
    color: $white;
    display: block;
    text-transform: uppercase;
    z-index: 8;
    position: relative;
    padding-top: 0;
  }
  @include screen-below(1025px) {
    padding-top: 150px;
    padding-bottom: 150px;
  }
  @include screen-above(1025px) {
    height: 100vh;
  }
}

.uav-view {
  will-change: transform;
  z-index: 2;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../img/uav-hero.jpg');
  @extend .uav-scan-lines;
  @include screen-above(1025px) {
    @include animate();
  }
}

.main-header {
  padding: 25px 0;
  position: fixed;
  background: transparent;
  width: 100%;
  height: 100px;
  overflow-y: visible;
  z-index: 9;
  @include transition(all 300ms ease-in-out);
  will-change:transform;
  &.unpinned {
    transform: translateY(- 100px);
  }
  &.pinned {
    transform: translateY(0);
    background: rgba(0, 0, 0, .95);
  }
}

.open {
  height: 100%;
  background: $black;
}

.logo {
  display: inline-block;
  margin: 0;
}

.main-nav {
  @include transition( all 0.2s ease-out);
  will-change:transform;
  display: block;
  opacity: 0;
  height: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
  z-index: 9;
  li {
    list-style-type: none;
    text-align: center;
    padding: 10px 65px 10px 0;
    margin: 0;
    text-transform: uppercase;
    border-bottom: 1px solid $white;
    a {
      cursor: pointer;
      font-size: 0.8375em;
      font-weight: bold;
      color: $white;
      text-decoration: none;
      display: block;
      letter-spacing: 3px;
      transition: color 300ms ease-in-out;
      &:hover {
        color: rgba(255, 255, 255, 0.5);
      }
    }
    &:last-child {
      border-bottom: none;
      @include screen-above(1025px) {
        padding: 0;
        margin: 0;
      }
    }
    @include screen-below(1025px) {
      padding: 20px 32px;
      margin: 0 16px;
    }
    @include screen-above(1025px) {
      border-bottom: 0;
      display: inline-block;
    }
  }
  @include screen-above(1025px) {
    margin: 0;
    border-bottom: none;
    opacity: 1;
    background: none;
    display: block;
    height: inherit;
    float: right;
    position: relative;
  }
  &.nav-open {
    opacity: 1;
    height: inherit;
  }
}

.inactive {
  color: rgba(110, 110, 110, 1);
  text-decoration: line-through;
}

.hamburger {
  display: block;
  position: absolute;
  width: 30px;
  height: 20px;
  top: 30px;
  right: 35px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  text-transform: uppercase;
  @include screen-above(1024px) {
    display: none;
  }
  span {
    @include transition(color 300ms ease-in-out);
    &:hover {
      color: rgba(255, 255, 255, 0.6);
    }
    &:active {
      color: $uav-line;
    }
  }
  &.navOpen,
  &.close {
    display: block;
    div {
      opacity: 1;
      @include transform( rotate(90deg) scale(1.5));
    }
    span:nth-child(2) {
      background: none;
      &:before {
        opacity: 1;
        height: 1px;
        @include transform( rotate(-45deg));
      }
      &:after {
        opacity: 1;
        height: 1px;
        @include transform( rotate(45deg));
      }
    }
    span:first-of-type {
      top: 50%;
    }
    span:last-of-type {
      top: 50%;
      bottom: auto;
    }
  }
}

.body-modal-open {
  overflow: hidden;
  width: 100%;
}
