.hero {
  position: relative;
  text-align: left;
  overflow: hidden;
  outline: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  .container {
    margin: 0;
  }
  h1 {
    color: white;
    opacity: 1;
    position: relative;
    z-index: 9999;
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 0;
    @extend .uav-border;
  }
  p {
    color: white;
    display: block;
    z-index: 9999;
    position: relative;
    padding-top: 0;
  }
  @include screen-below(1025px) {
    padding-top: 150px;
    padding-bottom: 150px;
  }
  @include screen-above(1025px) {
    height: 100vh;
  }
}

.uav-view {
  will-change: transform;
  z-index: 2;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../img/uav-hero.jpg');
  @extend .uav-scan-lines;
}
