.uav-grid {
  @extend .flex;
}

.uav-grid-element {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 100%;
  -ms-flex: 0 1 100%;
  flex: 0 1 100%;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  @include ratio(16, 9);
  @include screen-between(762px, 1281px) {
    -webkit-flex: 0 1 50%;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
  }
  @include screen-above(1281px) {
    -webkit-flex: 0 1 33.333%;
    -ms-flex: 0 1 33.333%;
    flex: 0 1 33.333%;
  }
}
